<div class='hello'>
  <div>HOW DO I MAKE MY OWN <span class="emoji"> 🍪 </span></div>
  <h2>ON A MAC</h2>
  <p>
    <ol>
    <li>Open QUICKTIME PLAYER</li>
    <li>File->New Movie Recording</li>
    <%= image_tag('how/new_movie.jpg') %>
    <li>File->New Screen Recording</li>
      <%= image_tag('how/new_screen_record.jpg') %>
    <li>Now you should see something like this:</li>
      <%= image_tag('how/what_youll_see.jpg', width: 800) %>
      <li>Click the record buttons.</li>
      <li>DO YOUR COOKIE.</li>
      <li>Stop the screen recording by clicking the STOP SQUARE BUTTON in the upper right hand corner of your desktop.</li>
      <li>Stop the movie recording by cilcking the stop button in the Quicktime window.</li>
      <li>SAVE BOTH FILES with ⌘+S.</li>
      <li>SEND THEM TO <a href="mailto:najeebtarazi@gmail.com">Najeeb</a> or <a href="atarrant@gmail.com">Alex</a>, whomever you know better.</li>
    </ol>
  </p>
</div>